  .song-container {
    display: grid;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 500px 315px 90px;
    align-content: stretch;

  }
  .banner{
    height: 100%;
    width: 100%;
  
  }
  .icon{
    align-self: baseline;
    color: aqua;
    margin-top: 2%;
  }
  .queue{
    grid-row-start: 1;
    grid-row-end:3 ;
    grid-column-start: 1;
    grid-column-end:2 ;
    background-color: rgb(2, 199, 189);
  }
  .song-info{
    grid-row-start: 1;
    grid-row-end:3 ;
    grid-column-start: 2;
    grid-column-end:3 ;
    background-color: rgb(0, 117, 126);
  }
  .lyrics{
    margin: 5%;
  }
  .lyrics-scroll{
    padding-top: 5%;
    padding-right: 8%;
    grid-row-start: 1;
    grid-row-end:3 ;
    grid-column-start: 3;
    grid-column-end:4 ;
    background-color:black;
    border: 0px;
   
    overflow-y: scroll;
    white-space: pre-wrap;
    text-align: right;
    border: 1px solid;
    /* padding: 10px; */
    /* box-shadow: -19px -21px 20px 20px rgba(0, 0, 0, 0.986); */
    box-shadow:-20px 20px 20px 20px rgba(0, 0, 0, 0.986);
    border: none;
        
  }
  .lyrics-scroll::-webkit-scrollbar {
    display: none;
}
  /* .lyrics-scroll {
    
    padding-top: 50%;
    padding-right: 10%;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: black;
    border: 0px;
    overflow-y: scroll;
    white-space: pre-wrap;
    text-align: right;
    border: none;
    padding: 10px;
    box-shadow: -19px -11px 20px 20px black;
  } */

  /* .lyrics-scroll::-webkit-scrollbar {
    display: none;
} */
  .other-subcategories{
    grid-row-start: 2;
    grid-row-end:3 ;
    grid-column-start: 2;
    grid-column-end:4 ;
    background-color: rgb(1, 153, 212);
  }
  /* .other-moods{
    grid-row-start: 2;
    grid-row-end:3 ;
    grid-column-start: 3;
    grid-column-end:4 ;
    background-color: rgb(0, 86, 143);
  } */
  .player{
    grid-row-start: 3;
    grid-row-end:4 ;
    grid-column-start: 1;
    grid-column-end:4 ;
    background-color: rgb(1, 53, 53);
  }
  .hint{
    place-self: center;
  }
  